.bd-underline {
  &:after {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -7rem;
  }

  &.-lg:after {
    font-size: 2.5em;
  }

  &.-star:after {
    content: '★★★★★';
    color: $sun;
  }
}
