.custom-lists {
  list-style: none;
  padding-left: 0;

  > .item {
    font-size: 1em;
    padding-bottom: 2rem;
  }

  > .item a {
    text-decoration: none;
    color: rgba($black, .5);
  }

  > .item.-line-break:not(:first-child) {
    border-top: 1px solid rgba($black, .1);
    padding-top: 2rem;
  }

  &.-horizon > .item {
    display: inline-block;
    padding-bottom: 0;
    margin-right: 1.5rem;
  }

  &.-invert > .item > a {
    color: rgba($invert, .9);
  }

  &.-invert > .item > a:hover {
    color: $invert;
  }

  &.-invert > .item.-line-break:not(:first-child) {
    border-color: rgba($invert, .2);
  }
}
