.feature-box {
  margin-bottom: 2rem;
  position: relative;

  > .title {
    padding-bottom: 2rem;
    margin: 0;
    font-weight: 800;
  }

  > .detail {
    color: $grey;
    margin: 0;
  }

  > .image {
    margin-bottom: 2rem;
  }

  > .socials-tag {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 20px;
  }

  > .overlay {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    background-color: rgba($sky, .4);
    width: 80%;
    height: 80%;
  }


  &.-border {
    border: 1px solid rgba($black, .05);
    padding: 1rem;
  }

  &.-invert > .title {
    color: $invert;
  }

  &.-invert > .detail {
    color: rgba($invert, .9);
  }
}
