.form-box {
  > .input {
    border-radius: 4px;
    height: 42px;
    border: 1px solid rgba(black, .1);
    padding-left: 2rem;
    vertical-align: middle;
    opacity: .5;
    transition: all .5s ease;
  }

  > .input:not(:last-child) {
    margin-bottom: 1rem;
  }

  > .input:focus,
  > .input:active {
    opacity: 1;
  }

  > .title {
    margin-top: 3rem;
  }
}
