.header-box {
  position: relative;

  >.title {
    font-weight: 800;
    margin-top: 0;
    color: $primary;
  }

  .title.-invert {
    color: $white;
  }

  >.meta {
    color: rgba($night, .4);
    font-weight: 500;
  }

  &.-invert > .title {
    color: $white;
  }

  &.-invert > .meta {
    color: rgba(212, 231, 245, .4);
  }
}
