.menu-grp {
  margin-top: .5rem;
  margin-right: 15px;
}

.menu-item {
  display: inline-block;
  position: relative;
  text-align: center;
}

.menu-item-extend {
  position: absolute;
  top: 4.1rem;
  z-index: 99;

  li > a {
    color: $menu-item;
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid rgba($black, .1);
  }
}

.menu-li-lg,
.menu-li-sm {
  background-color: darken($white, 2%);
  box-shadow: 0 1px 2px 0 rgba($black, .2);
  margin-top: 1.5rem;
}

.menu-li-lg {
  li > a {
    width: 22rem;

    @media (min-width: 768px) {
      width: 27rem;;
    }

    @media (min-width: 1200px) {
      width: 21.5rem;;
    }
  }
}

.menu-li-sm {
  box-shadow: 0 1px 2px 0 rgba($black, .2);
  li > a {
    width: 50px;;
  }
}

.menu-l {
  left: 0;
}

.menu-r {
  right: 0;
}