.menu-grp {
  margin-top: .5rem;
}

.menu-item {
  display: inline-block;
  position: relative;
  text-align: center;
}

.menu-item-extend {
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba($black, .2);
  position: absolute;
  top: 5.7rem;

  &:last-child {
    right: 0;
  }

  li > a {
    color: $menu-item;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid rgba($black, .1);
  }
}

.menu-li-lg {
  li > a {
    width: 205px;;
  }
}

.menu-li-sm {
  li > a {
    width: 50px;;
  }
}