// Base color
$black: #000;
$blue: #164c88;
$grey: #888;
$sky: #4bb5e9;
$white: #fff;
$night: #355165;
$sun: #fbb12b;


// Theme
$primary: $night;
$secondary: $sky;
$invert: $white;

// Main menu
$menu-item: $grey;

// Thumb-images
$overlay-bg: rgba($blue, .9);